@using Microsoft.AspNetCore.Identity
@inherits LanguageBase
@inject IUserService _userService
@inject IRefreshService _refreshService

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <NavLink class="nav-link" href="Admin/Manage/Users">@l["nav-admin-users"]</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="Admin/Manage/UsersStats">@l["nav-admin-UsersStats"]</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="Admin/Manage/ActiveSessions">@l["nav-admin-ActiveSessions"]</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="Admin/Manage/Language">@l["nav-admin-LanguageEditor"]</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="Admin/Manage/Images/Items">@l["nav-admin-ItemImagesUploader"]</NavLink>
    </li>
</ul>


@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        _refreshService.PageRefreshRequested += RefreshAsync;

        RefreshAsync();
    }

    public override void Dispose(bool disposing)
    {
        if (disposing)
        {
            _refreshService.PageRefreshRequested -= RefreshAsync;
        }
    }
}
