@inherits LanguageBase

@inject UserManager<ApplicationUser> _userManager
@inject MinecraftUserManager _mcUserManager
@inject ISnackbar _snack
@inject IConnectedUsersService _connectedUsersService

<div class="row">
    <div class="col-9">
        <table class="table1">
            <tr>
                <td>
                    @("ID: ")
                </td>
                <td>
                    @ApplicationUser.Id
                </td>
            </tr>
            <tr>
                <td>
                    @("Mail: ")
                </td>
                <td>
                    @ApplicationUser.Email
                </td>
            </tr>
            <tr>
                <td>
                    @("Mail confirmed: ")
                </td>
                <td>
                    @ApplicationUser.EmailConfirmed
                </td>
            </tr>
        </table>

        <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="DeleteUserAsync">Delete user</MudButton>
    </div>
</div>
@code {
    [Parameter]
    public ApplicationUser ApplicationUser { get; set; }


    private async Task DeleteUserAsync()
    {
        if (ApplicationUser.mcNickname is not null)
        {
            var status = await _mcUserManager.DisconnectMinecraftAccount(ApplicationUser);

            if (!status.Success)
            {
                _snack.Add(l[status.UserMessage], Severity.Error);
                return;
            }
            else
            {
                _snack.Add(l[status.UserMessage], Severity.Success);
            }
        }
        var result = await _userManager.DeleteAsync(ApplicationUser);
        if (!result.Succeeded)
        {
            _snack.Add(l["admin-users-userdelete-error-01"], Severity.Error);
        }
        _snack.Add(l["admin-users-userdelete-success-01"], Severity.Success);
    }


    protected override void OnInitialized()
    {
        base.OnInitialized();
        _connectedUsersService.AdminViewRefreshRequested += RefreshAsync;
    }


    public override void Dispose(bool disposing)
    {
        if (disposing)
        {
            _connectedUsersService.AdminViewRefreshRequested -= RefreshAsync;
        }
    }
}
