@page "/Admin/Manage/Users"
@implements IDisposable
@inject ILocalizer l
@inject IUserService _userService
@inject IRefreshService _refreshService
@inject UserManager<ApplicationUser> _userManager
@inject MinecraftUserManager _mcUserManager

<PageTitle>@(l["nav-admin"] + " / " + l["nav-admin-users"])</PageTitle>

<h3>@l["nav-admin-users"]</h3>
@if (_userService.Loaded)
{
    @if (LoadingComplete)
    {
        <MudTable Items="@applicationUsers" Hover="true" Breakpoint="Breakpoint.Sm">
            <ColGroup>
                <col style="width:300px;" />
                <col style="width:100px;" />
                <col style="width:100px;" />
                <col style="width:100px;" />
            </ColGroup>
            <HeaderContent>
                <MudTh>Id</MudTh>
                <MudTh>Username</MudTh>
                <MudTh>Gamename</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Id">@context.ApplicationUser.Id</MudTd>
                <MudTd DataLabel="Username">@context.ApplicationUser.UserName</MudTd>
                <MudTd DataLabel="Gamename">@(context.HasConnectedAccount ? context.MinecraftUser.NickName : l["offline"])</MudTd>
                <MudTd><MudButton Variant="Variant.Outlined" Size="Size.Small" OnClick="@(() => ShowBtnPress(context.ApplicationUser.Id))">@((context.ShowDetails == true) ? l["HideDetails"] : l["ShowDetails"])</MudButton></MudTd>
            </RowTemplate>
            <ChildRowContent>
                @if (context.ShowDetails)
                {
                    <MudTr>
                        <td colspan="4">
                            <MudCard Elevation="1">
                                <MudCardHeader>
                                    <CardHeaderContent>
                                        <MudText Typo="Typo.body1">@l["AdminUsersAccountDetails"] <strong>@context.ApplicationUser.UserName</strong></MudText>
                                    </CardHeaderContent>
                                </MudCardHeader>
                                <MudCardContent Class="pa-0">
                                    <MudTable T="ApplicationUserData" Hover="true" Context="DetailsContext" Breakpoint="Breakpoint.Sm">
                                        <ColGroup>
                                            <col style="width:300px;" />
                                            <col style="width:100px;" />
                                            <col style="width:100px;" />
                                        </ColGroup>
                                        <RowTemplate>
                                            <MudTd DataLabel="Id">@context.ApplicationUser.Id</MudTd>
                                            <MudTd DataLabel="Username">@context.ApplicationUser.UserName</MudTd>
                                            <MudTd DataLabel="Gamename">@(context.HasConnectedAccount ? context.MinecraftUser.NickName : l["offline"])</MudTd>
                                        </RowTemplate>
                                    </MudTable>
                                </MudCardContent>
                            </MudCard>
                        </td>
                    </MudTr>
                }
            </ChildRowContent>
        </MudTable>
    }
}

@code {
    public IList<ApplicationUserData> applicationUsers = new List<ApplicationUserData>();

    public bool LoadingComplete = false;

    protected override void OnInitialized()
    {
        l.LocaleRefreshRequested += RefreshAsync;
        _refreshService.PageRefreshRequested += RefreshAsync;

    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (_userService.Loaded)
        {
            if (firstRender)
            {
                UsersInit();
            }
        }
    }

    public async void UsersInit()
    {
        foreach (var user in _userManager.Users)
        {
            ApplicationUserData data = new ApplicationUserData();

            data.ApplicationUser = user;

            if (user.mcUUID is not null)
            {
                data.HasConnectedAccount = true;
                data.MinecraftUser = await _mcUserManager.GetUserAsync(user.mcUUID);
            }
            applicationUsers.Add(data);
        }
        LoadingComplete = true;
        RefreshAsync();
    }

    private void ShowBtnPress(string nr)
    {
        ApplicationUserData tmpPerson = applicationUsers.First(f => f.ApplicationUser.Id == nr);
        tmpPerson.ShowDetails = !tmpPerson.ShowDetails;
    }


    private async void RefreshAsync()
    {
        // InvokeAsync is inherited, it syncs the call back to the render thread
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }


    public void Dispose()
    {
        l.LocaleRefreshRequested -= RefreshAsync;
    }

    public class ApplicationUserData
    {
        public ApplicationUser ApplicationUser { get; set; }

        public MinecraftUser? MinecraftUser { get; set; }

        public bool ShowDetails = false;

        public bool HasConnectedAccount = false;
    }
}
