@inherits LanguageBase

@using Microsoft.AspNetCore.Identity
@inject IUserService _userService
@inject IRefreshService _refreshService

<ul class="nav nav-pills flex-column">
    <AuthorizeView Policy="connectedaccount">
        <NotAuthorized>
            <li class="nav-item">
                <NavLink class="nav-link" href="/Minecraft/Account/Register" Match="NavLinkMatch.All">@l["McNavMenuConnectAccount"]</NavLink>
            </li>
        </NotAuthorized>
        <Authorized>
            <li class="nav-item">
                <NavLink class="nav-link" href="Minecraft/Account/Statistics">@l["McNavMenuStats"]</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="Minecraft/Account/Inventory">@l["McNavMenuInventory"]</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="Minecraft/Account/Skin">@l["McNavMenuSkin"]</NavLink>
            </li>
            <!--
            <li class="nav-item">
                <NavLink class="nav-link" href="Minecraft/Account/Pets">Pets</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="Minecraft/Account/Talismans">Talismans</NavLink>
            </li>-->
            <li class="nav-item">
                <NavLink class="nav-link" href="Minecraft/Account/Settings">@l["McNavMenuSettings"]</NavLink>
            </li>
        </Authorized>
    </AuthorizeView>
</ul>

@code {
    //TODO Dispose

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _refreshService.PageRefreshRequested += RefreshAsync;
    }

    public override void Dispose(bool disposing)
    {
        if (disposing)
        {
            _refreshService.PageRefreshRequested -= RefreshAsync;
        }
    }
}
