@using Microsoft.AspNetCore.Identity
@inherits LayoutComponentBase
@inject UserManager<ApplicationUser> _userManager
@inject IRefreshService _refreshService
@inject IUserService _userService
@inject ILogger<MainLayout> _logger

@inject IRedisUpdateService _redisUpdateService
@inject IInventoryService _invService
@inject ISnackbar _snack

@implements IDisposable

<MudThemeProvider Theme="_themeManager.Theme" />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<!--<MudThemeManagerButton OnClick="@((e) => OpenThemeManager(true))"  />
<MudThemeManager Open="_themeManagerOpen" OpenChanged="OpenThemeManager" Theme="_themeManager" ThemeChanged="UpdateTheme"  />-->

                        @if (_userService.Loaded)
                        {
<CascadingValue Value="this">
    <MudDropContainer T="GameItem" Items="_invService.AllItems" CanDropClass="mud-border-info" NoDropClass="mud-border-error" CanDrop="@( (item,identifier ) => _invService.AllItems.Count(x => x.Identifier == identifier ) == 0)" ItemsSelector="@((item,dropzone) => item.Identifier == dropzone)" ItemPicked="_invService.ItemPicked" ItemDropped="_invService.ItemDroped"
                      Class="" @ref="MainDropContainer">
        <ChildContent>
            <MudLayout>
                <MudAppBar>
                    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
                    <a href="/" class="link-hover">
                        <MudText>HighGeek</MudText>
                    </a>
                    <MudSpacer />
                    @if (_userService.Loaded)
                    {
                        <LanguageSwitch/>
                    }
                    @if (_userService.HasConnectedAccount)
                    {
                        <EconomyComponent/>
                        <a href="/Minecraft/Account/Statistics">
                            <MudAvatar>
                                <MudImage Src="@("https://api.highgeek.eu/api/skins/playerhead/"+_userService.ApplicationUser.mcNickname)">

                                </MudImage>
                            </MudAvatar>
                        </a>
                    }
                </MudAppBar>
                        @if (_userService.Loaded)
                        {
                <MudDrawer @bind-Open="@_drawerOpen" Color="Color.Dark">
                    <NavMenu />
                </MudDrawer>
                <MudMainContent>
                    <MudContainer MaxWidth="MaxWidth.ExtraLarge">
                            @Body
                            <Highgeek.McWebApp.BlazorServer.Components.GameChat.ChatButton />
                            <MudDropZone T="GameItem" Identifier="@(_invService.WinvIdentifier + "2")" DraggingClass="mud-theme-success" Class="mud-drop-zone-with-menu  d-flex justify-center align-center border-2 border-solid docs-gray-bg mud-border-lines-default" Style="height:41px;width:41.4px;" />

                    </MudContainer>
                </MudMainContent>                        }
                        else
                        {
                            <PageTitle>HighGeek - Loading</PageTitle>
                            <h1>Loading...</h1>
                        }
            </MudLayout>

        </ChildContent>
        <ItemRenderer>
            <MudMenu Tag="context" @ondblclick="@( (x) => DoubleClickOnMenuEvent(x, context))" @ref="MudMenu" ActivationEvent="@MouseEvent.RightClick" Style="height:33px;width:33px;">
                <ActivatorContent>
                    <MudDynamicDropItem T="object" Class=" justify-center align-center flex-grow-1" Style="height:33px;width:33px;">

                            <MudTooltip @ref="ItemToolTip" ShowOnHover="true">
                                <ChildContent>
                                <div class="item-container">
                                        <MudImage Src="@(context.PlayerHeadTextureId is not null ? ("https://mc-heads.net/head/" + context.PlayerHeadTextureId) : context.TextureUrl)" Style="height:33px;width:33px;"/>
                                        @if (context.Amount > 1)
                                        {
                                            <MudText Class="item-bottom-right-text" Style="font-family:'Minecraft'" Typo="Typo.caption">@context.Amount</MudText>
                                        }
                                    </div>
                                </ChildContent>
                                <TooltipContent>
                                    <MudText Style="font-family:'Minecraft'" Typo="Typo.body1">@((MarkupString)context.DisplayName.HtmlText)</MudText>
                                    @if (context.Enchantments != null)
                                    {
                                        foreach (IntTag enchant in context.Enchantments.Values)
                                        {
                                            <MudText Style="font-family:'Minecraft';" Typo="Typo.caption">@GameItem.WordsToUpper(enchant.Name.Substring(enchant.Name.IndexOf(":") + 1, enchant.Name.Length - enchant.Name.IndexOf(":") - 1))@((MarkupString)" : ") @enchant.Value <br /></MudText>
                                        }
                                    }
                                </TooltipContent>
                            </MudTooltip>
                    </MudDynamicDropItem>
                </ActivatorContent>
                <ChildContent>
                    <MudMenuItem @onclick="@((e) => DoSomethingWithItem(e, context))">DoSomethingWithItem</MudMenuItem>
                    <MudMenuItem>Theme</MudMenuItem>
                    <MudMenuItem>Usage</MudMenuItem>
                    <MudMenuItem>Close</MudMenuItem>
                </ChildContent>
            </MudMenu>
        </ItemRenderer>
    </MudDropContainer>
</CascadingValue>
                        }
                        else
                        {
                            <PageTitle>HighGeek - Loading</PageTitle>
                            <h1>Loading...</h1>
                        }
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    public MudDropContainer<GameItem> MainDropContainer { get; set; }
    public MudTooltip ItemToolTip { get; set; }

    public MudMenu MudMenu { set => MudMenus.Add(value); }

    public List<MudMenu> MudMenus { get; set; } = new List<MudMenu>();

    bool _drawerOpen = false;

    ApplicationUser user;

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    protected override async void OnInitialized()
    {
        _themeManager.Theme = Highgeek.McWebApp.Common.Helpers.ThemeHelper.CustomTheme;
        _refreshService.PageRefreshRequested += RefreshAsync;

        _refreshService.InventoryViewRefreshRequested += RefreshInventory;
        //_refreshService.ApplicationUserRefreshRequested += UserInit;
        _refreshService.MainNavMenuClosehRequested += DrawerClose;
        _redisUpdateService.InventoryChanged += c_InventoryUpdated;
        UserInit();

    }

    private async void UserInit()
    {
        try
        {
            user = await _userManager.GetUserAsync(authenticationState.Result.User);
        }
        catch (Exception ex)
        {
            ex.WriteExceptionToRedis();
            _logger.LogWarning("MainLayout UserInit() error: " + ex.Message);
        }

        if (user is not null)
        {
            //_userService.ApplicationUser = user;
            await _userService.UserServiceInitAsync(user);
            //await _invService.Init();
            Refresh();
        }
        else
        {
            _userService.Loaded = true;
            Refresh();
        }
    }

    private void Refresh()
    {
        try
        {
            StateHasChanged();
        }
        catch (Exception ex)
        {
            ex.WriteExceptionToRedis();
            _logger.LogWarning("MainLayout Refresh() error: " + ex.Message);
        }
    }
    
    private async void RefreshAsync()
    {
            // InvokeAsync is inherited, it syncs the call back to the render thread
            await InvokeAsync(() =>
            {
                StateHasChanged();
            });
    }

    private void RefreshInventory()
    {
        try
        {
            StateHasChanged();
            MainDropContainer.Refresh();
        }
        catch (Exception ex)
        {
            ex.WriteExceptionToRedis();
            _logger.LogWarning("MainLayout RefreshInventory() error: " + ex.Message);
        }
    }

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
    void DrawerClose()
    {
        _drawerOpen = false;
        StateHasChanged();
    }


    private ThemeManagerTheme _themeManager = new ThemeManagerTheme();
    public bool _themeManagerOpen = false;

    void OpenThemeManager(bool value)
    {
        _themeManagerOpen = value;
    }

    void UpdateTheme(ThemeManagerTheme value)
    {
        _themeManager = value;
        StateHasChanged();
    }

    private async void DoubleClickOnMenuEvent(MouseEventArgs mouseEventArgs, GameItem item)
    {
        await MudMenus.FirstOrDefault(x => x.Tag == item).OpenMenuAsync(mouseEventArgs);
    }

    private async void DoSomethingWithItem(EventArgs eventArgs, GameItem gameItem)
    {
        _snack.Add((MarkupString)gameItem.DisplayName.HtmlText, Severity.Success);
        _logger.LogWarning("Trying to do something with item: " + gameItem.Name);
    }


    public async void c_InventoryUpdated(object? sender, InventoryPositionInfo info)
    {
        try
        {
            if (_invService.InvData.ListPosition.ContainsKey(info.uuid))
            {
                _logger.LogInformation("Updated inventory: " + info.uuid);
                await InvokeAsync(async () =>
                {
                    // Set the local variable
                    await _invService.listUpdater(info);
                    //_logger.LogInformation("Updated inventory: " + Uuid + " Type: " + Type);
                    // Tell Blazor to rewrite the DOM
                    try
                    {
                        StateHasChanged();
                        MainDropContainer.Refresh();
                    }
                    catch (Exception ex)
                    {
                        ex.WriteExceptionToRedis();
                        _logger.LogWarning("c_InventoryUpdated() failed!: \nMessage: \n" + ex.Message + "\nTrace: \n" + ex.StackTrace);
                    }
                });
            }
        }
        catch (Exception ex)
        {
            ex.WriteExceptionToRedis();
            _logger.LogWarning("c_InventoryUpdated() failed!: \nMessage: \n" + ex.Message + "\nTrace: \n" + ex.StackTrace);
        }
    }





    private bool _disposed = false;

    void IDisposable.Dispose()
    {
        // Dispose of unmanaged resources.
        Dispose(true);
        // Suppress finalization.
        GC.SuppressFinalize(this);
    }
    protected virtual void Dispose(bool disposing)
    {
        if (!_disposed)
        {
            if (disposing)
            {
                // Dispose managed resources
                // For example: Close file handles, database connections, etc.

                _refreshService.InventoryViewRefreshRequested -= RefreshInventory;
                _refreshService.PageRefreshRequested -= Refresh;
                //_refreshService.ApplicationUserRefreshRequested -= UserInit;
                _refreshService.MainNavMenuClosehRequested -= DrawerClose;
                _redisUpdateService.InventoryChanged -= c_InventoryUpdated;
            }

            // Dispose unmanaged resources
            // For example: Release memory allocated through unmanaged code

            _themeManager = null;
            authenticationState = null;
            user = null;
            _disposed = true;
        }
    }

    ~MainLayout()
    {
        Dispose(false); // Release unmanaged resources if the Dispose method wasn't called explicitly
    }
}